#pot{
    background-image: url("/static/images/GamblingPot.png");
    background-repeat: no-repeat;
    height: 768px;
    background-position: center;
    position: relative;
}

.d{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    font-weight: 900;
    font-size: 5rem;
}
.thick-text{
    font-weight: 500;
}
.purple{
    color: #FFF;
    background-color: #6610f2;
}
.purple:hover{
    color: rgb(199, 199, 199);
}