<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Gambler Enter</title>
</head>
<body>
    <!-- Navigational Section -->
    <div class=" bg-dark">
        <div class="container pt-4 pb-4">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">GAMBE-BLER</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Change Pot</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Leader Board</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
    <!-- End of Navigational Section -->


    
    <div>
        <div class="container">
            <div class="row" style="font-size: 1.5rem;">
                <div class="col" id="user">
                    <p>Tom Clank</p>
                </div>
                <div class="col" id="amount">
                    <span> &#128176;</span><span>4500.00</span>
                </div>
            </div>
            <div class="row" id="pot">
              <div class="col">
                <img class="w-100 h-80" src="{{ url_for('static', filename='images/GamblingPot.png') }}" alt="">
            </div>
            <div class="col">
              <h5 class="display-5">How To Play</h5>  
              <div>

                </div>
              </div>
            </div>
        </div>
    </div>

    <div>
      <div class="container">
    <h1 id="guess">
      12
    </h1>
    <button onclick="randomNum()" class="btn btn-danger" style="font-size: 2rem;">
      change the num
    </button>
      <input type="number" name="val" id="val" max="35">
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
    <!-- End of Scripts -->



</body>
</html>