<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Gambler Enter</title>
</head>
<body>
    <!-- Navigational Section -->
    <div class=" bg-primary" style="font-size: 1.5rem;">
        <div class="container pt-4 pb-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <div class="container-fluid">
                  <a class="navbar-brand text-light" href="/landing" style="font-size: 2rem;">GAME-BLER</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link text-light" href="/board">Leader Board</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="/logout">Log Out</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
    <!-- End of Navigational Section -->


    
    <div>
        <div class="container">
            <div class="row" style="font-size: 1.5rem;">
                <div class="col thick-text" id="user">
                    <p> <span>User:</span> <span id="user">{{ user.username }}</span></p>
                </div>
                <div class="col">
                   <span>Account Balance: </span> <span> &#128176;</span><span id="bal">{{ user.score }}</span>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-9 text-center" id="pot">
                <h1 id="cashpot" class="d display-1 text-light">
                  00
                </h1>
                <audio id="myAudio">
                  <source src="{{ url_for('static', filename='/js/numeffect.mp3') }}" type="audio/mpeg">
                </audio>
                
                <audio id="myAudio1">
                  <source src="{{ url_for('static', filename='/js/you lose.mp3') }}" type="audio/mpeg">
                </audio>
                
                <audio id="myAudio2">
                  <source src="{{ url_for('static', filename='/js/you won.mp3') }}" type="audio/mpeg">
                </audio>
                <!-- <img class="w-100 h-80" src="{{ url_for('static', filename='images/GamblingPot.png') }}" alt=""> -->
            </div>
            <div class="col container">                
              <div>
                  <div class="container">
                <button class="btn purple" style="font-size: 2rem;" onclick="add(19000)">
                  RESET
                </button>
                  <input class="form-control" type="number" name="val" id="val" min="10" max="{{ user.score }}" placeholder="Place Bet Here &#128176;10000" value="10">
                  <input class="form-control" type="number" name="guess" id="guess" min="0" max="32" placeholder="Guess Number Here">
                  <button onclick="randomNum()" class="btn purple">
                    Place Bet
                  </button>
                  <div>
                    <p class="display-5">Projected Profit : <span> &#128176;</span><span id="Profit">20</span></p>
                  </div>
                </div> 
              </div>
              <h5 class="display-4">How To Play</h5>  
              <div>
                <ul>
                  <li>Enter a number from 0-32 in the Place Bet Here Input Section</li>
                  <li>Successful Bet result in the Bet Amount Doubling</li>
                  <li class="text-primary">Number Selected should be 3 less or higher than the outcome to win which will result in a percentile increase</li>
                  <li>Unsuccessful Bet the cost of the Bet will be subtracted</li>
                  <li class="text-danger"> You can't place a bet less than TEN (10) </li>
                  <li class="text-danger"> Don't worry if your balance is 0 cool down is 1 min</li>
                </ul>
                </div>


              
              </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
    <!-- End of Scripts -->



</body>
</html>